node_modules/
artifacts/
test/ReactNativeIconTest/ios/ReactNativeIconTest/Images.xcassets/AppIcon.appiconset/
test/ReactNativeIconTest/android/app/src/main/res
test/CordovaApp/platforms/ios/ionic_app/Images.xcassets/AppIcon.appiconset
test/CordovaApp/platforms/android/res
test/NativeApp/ios/native_app/Assets.xcassets/AppIcon.appiconset
test/NativeApp/android/native_app/src/main/res
npm-debug.log
src/label/test-images/*-output.png
src/resize/test-images/*output.png
.nyc_output/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk